/* D9 - Variables NCW */
/*Font Family*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: "Ubuntu", sans-serif;
}
/* Font colours */
/* background colours */
/* END - D9 - Variables NCW */
* {
  margin: 0px;
  padding: 0px;
}

*:focus,
button:focus,
a:focus {
  outline: none;
}

.clearfix {
  clear: both;
  float: none;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  background: #f9f9fa;
  overflow-x: hidden !important;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.node__content {
  margin: 0px;
  font-size: inherit;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.section.container {
  padding: 0px;
}

#page-wrapper {
  max-width: 1366px;
  margin: 10px auto 0 auto;
  background: #fff;
  padding: 12px 5px 5px 5px;
}

.breadcrumb {
  background-color: #2d559a;
  color: #FFF;
  font-size: 0.9em;
  padding: 0.125rem 0.875rem 0.125rem 5.325rem;
  clear: both;
  margin: 0rem;
  border-radius: 0;
}
.breadcrumb-item.active, .breadcrumb-item + .breadcrumb-item:before,
.breadcrumb-item a {
  color: #FFF;
}

.form-group {
  margin: 0rem;
}

.block-page-title-block {
  background-color: #003399;
  padding: 2rem 0rem;
}
.block-page-title-block .content {
  margin: 0 auto;
  overflow: auto;
  width: 47.5rem;
  font-size: 1.375rem;
  text-align: center;
}
.block-page-title-block h1.title {
  font-size: 3.5rem;
  margin: 1.75rem 0rem;
  padding: 0rem;
  line-height: 3.325rem;
  font-weight: bold;
  color: #FFF;
}

.push-right {
  margin-left: auto;
  margin-right: 30px;
}

.view-useful-links h3 {
  width: 100%;
}
.view-useful-links .views-col {
  border: 1px solid #CCC;
}

.site-footer__bottom {
  background-color: #003399;
  color: #FFF;
  font-size: 0.875rem;
  overflow: hidden;
  padding: 0.325rem 5.325rem;
  clear: both;
}
.site-footer h2 {
  display: none;
}
.site-footer .nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.site-footer .nav-link {
  color: #FFF;
  margin: 0rem 0.625rem;
  font-size: 0.75rem;
}
.site-footer span.nav-link {
  font-size: 0.875rem;
}
.site-footer a.nav-link {
  text-decoration: underline;
}
.site-footer .block,
.site-footer .region {
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 1rem;
}
.header .logos {
  float: left;
}
.header .logos .field--type-text-with-summary span {
  display: inline-block;
  vertical-align: middle;
}
.header .logos .field--type-text-with-summary span:not(:first-of-type) {
  margin-left: 1rem;
}
.header .logos .field--type-text-with-summary span:nth-child(1) img {
  max-width: 108px;
}
.header .logos .field--type-text-with-summary span:nth-child(2) img {
  max-width: 48px;
}
.header .logos .field--type-text-with-summary span:nth-child(3) img {
  max-width: 47px;
}
.header #navbar {
  float: left;
}
.header .push-right {
  float: right;
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: baseline;
}
.header .nav-item {
  background: none;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  border: 2px solid #FFF;
}
.header .nav-item:hover {
  border: 2px solid #003399;
}
.header .nav-item:hover .nav-link {
  color: #003399;
}
.header .nav-item:hover .dropdown-menu {
  display: block;
}
.header .nav-item:first-of-type:hover {
  border: 2px solid #FFF;
}
.header .nav-item:first-of-type .nav-link {
  text-indent: 0px;
  color: transparent;
  width: 41px;
  background-image: url(/sites/allages/themes/custom/allages_theme/images/homeIco.png);
  background-repeat: no-repeat;
  background-position: center;
}
.header .nav-link {
  padding: 0.375rem;
  font-weight: bold;
  color: #555555;
  font-size: 0.75rem;
  text-decoration: none;
}
.header .dropdown-toggle:after {
  display: none;
}
.header .dropdown-menu {
  padding: 0rem;
  background: none;
  background-color: #8a9cc0;
  border-radius: 0px;
  border: none;
  margin-left: -3px;
}
.header .dropdown-item {
  padding: 0;
}
.header .dropdown-item:hover, .header .dropdown-item.active {
  background: url(/sites/allages/themes/custom/allages_theme/images/menu-child-hover.png) no-repeat 90% #133b80;
  border-radius: 0px;
}
.header .dropdown-item a {
  color: #FFF;
  font-size: 0.75rem;
  padding: 0.75rem 1.125rem;
  font-weight: bold;
  display: block;
}
.header .dropdown-item a:hover {
  text-decoration: none;
}
.header .search-custom-block {
  width: calc(100% - 95px);
  flex: 1;
}
.header .search-custom-block .row {
  margin: 0rem;
}
.header .search-custom-block .form-type-search {
  width: calc(100% - 22px);
}
.header .search-custom-block .form-search {
  border: 1px solid #FFF;
  font-size: 0.75rem;
  font-weight: normal;
  border-radius: 0;
  padding: 0rem 1.75rem 0rem 0rem;
  border-bottom: 1px solid #336699;
}
.header .search-custom-block .form-actions .form-submit {
  height: 20px;
  width: 20px;
  background-image: url(/sites/allages/themes/custom/allages_theme/images/i-_search.png);
  background-repeat: no-repeat;
  background-color: #fff;
  padding: 0;
  color: transparent;
  border: none;
}
.header #search-block-form {
  flex-direction: row;
  align-items: baseline;
}
.header .font-size-print {
  margin-left: 1.25rem;
}
.header .font-size-print #_biggify,
.header .font-size-print #_smallify {
  cursor: pointer;
}
.header .font-size-print .a_small {
  font-size: 0.875rem;
  font-weight: bold;
  color: #003399;
}
.header .font-size-print .a_big {
  font-size: 1.125rem;
  font-weight: bold;
  color: #000;
}
.header .font-size-print .a:hover {
  text-decoration: none;
}

.attachment {
  background: #f7f7f7;
  margin-bottom: 4rem;
  padding: 1.75rem 0rem;
  text-transform: uppercase;
}
.attachment .view-glossary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  color: #888888;
}
.attachment .view-glossary .count {
  display: none;
}
.attachment .view-glossary .row {
  margin: 0;
}
.attachment .view-header {
  font-style: italic;
  color: #003399;
  margin-right: 0.5rem;
  text-transform: none;
  font-weight: bold;
  padding: 0.375rem;
}
.attachment .views-summary a {
  color: #003399;
  text-decoration: none;
  font-weight: bold;
  margin: 0.375rem;
}
.attachment .views-summary a.is-active {
  background-color: #acc700;
  color: #FFF;
  padding: 0.25rem 0.375rem;
}

.view-useful-links {
  max-width: 1204px;
  margin: 0 auto;
}
.view-useful-links > .row {
  margin: 0;
}
.view-useful-links h3 {
  border-bottom: medium solid;
  clear: both;
  color: #003399;
  margin: 1.75rem 0;
  padding: 1.125rem 0;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.view-useful-links .views-field-field-link {
  display: block;
  width: 100%;
  height: 100%;
}
.view-useful-links .views-field-field-link .field-content {
  display: block;
  width: 100%;
  height: 100%;
}
.view-useful-links .views-field-field-link .field-content a {
  background: #98b400 url(/sites/allages/themes/custom/allages_theme/images/i-_arrow-right-white.png) no-repeat scroll 95% 88%;
  color: #FFF;
  float: left;
  font-size: 0.875rem;
  font-weight: bold;
  height: 120px;
  margin: 0 1% 0.875rem 0;
  padding: 0.875rem 1.25rem 1.125rem 0.875rem;
  text-decoration: none;
  width: 180px;
  display: block;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=allages-global.css.map */
