.breadcrumb{
  background-color: $text-color-blue-2;
  color: $text-color-white;
  font-size: 0.9em;
  padding: 0.125rem 0.875rem 0.125rem 8.325rem;
  clear: both;
  &-item{
    &.active,
    a{
      color: $text-color-white;
    }
  }
}
