{% extends "page.html.twig" %}

{% block content %}
  {{ page.allages_title }}
  {% if node.id == '70' %}
  {#If node is About this e-guide#}
  <div class="container-fluid-allages">
  {% else %}
    <div class="container">
  {% endif %}
    {{ page.content }}
  </div>
{% endblock %}


