@media print {

  .header .push-right,
  .node--type-select-your-profile .containerC #moreInfoBut,
  .node--type-select-your-profile .BarStartTour,
  .view-themes .item-list .plus-content,
  .view-themes .item-list .views-field-view-node .field-content a,
  .content-themes-detail .left-column .image-themes .field--type-entity-reference img,
  .content-themes-detail .left-column .back-link,
  .content-themes-detail .right-column .content-previous-next,
  .content-themes-detail .left-column .ico-profile,
  .content-themes-detail .right-column .more-links,
  .breadcrumb,
  .view-themes .footer-view .preFooter,
  .node--type-good-practices .back-link a,
  .node--type-good-practices .right-column p:last-of-type a,
  .view-did-you-know .views-view-grid .views-field-field-sources,
  .view-search-term-content .views-exposed-form .form-actions,
  .path-search .block-system-main-block .search-form{
    display:none;
  }

  /******     Header    ******/

  .language-profile-selector{
    border-bottom: 1px solid $text-color-blue;
  }

  /******     Headings    ******/

  .block-page-title-block{
    h1{
      &.title{
        color:$text-color-dark-grey;
      }
    }
  }

  /******     Banner Header    ******/

  .node--type-select-your-profile ,
  .page-view-frontpage {
    .containerC{
      h1{
        color:$text-color-dark-grey;
      }
      #moreInfoBut{
        .greenButton{
          border:1px solid $text-color-green;
          color:$text-color-green;
          background-color:$bg-color-white;
        }
      }
    }
    #block-healthyworkplacesforallages{
      .field--name-body{
        color:$text-color-dark-grey;
      }
    }
  }

  /******     Select Profile     ******/

  .node--type-select-your-profile{
    .half{
      width:100%;
      float:none;
      .whiteBg{
        min-height: 0px;
        .img-employer,
        .img-worker,
        .img-manager,
        .img-professional{
          display:none;
        }
      }
      & + .half{
        border-top:1px solid $text-color-grey-2;
      }
    }
  }

  /******     Onomasticon    ******/

  .onomasticon-extra-element{
    .onomasticon-term-description{
      border:1px solid $text-color-dark-grey;
      color:$text-color-dark-grey;
    }
  }

  /******     Frontpage     ******/

  .page-view-frontpage{
    #langheader{
      border-top: 1px solid $text-color-blue;
      .MapList{
        .MapSC,
        .ListSC{
          border-top:transparent;
          border-bottom:transparent;
          padding-left:0;
          &.selected{
            color:$text-color-green;
            background-color:$bg-color-white;
            &:after{
              display:none;
            }
          }
        }
      }
    }
  }

  /******     Themes     ******/

  .view-themes{
    .view-header {
      h1,
      p,
      p:last-child{
        color:$text-color-dark-grey;
      }
    }
    .item-list {
      > ul {
        > li{
          height:auto;
          color:$text-color-dark-grey;
        }
      }
      .views-field{
        &-title{
          &,
          &-1{
            display:inline-block;
            width:auto;
            vertical-align: baseline;
          }
        }
        &-nothing{
          .field-content {
            .morethemeinfono{
              color:$text-color-dark-grey;
            }
          }
        }
      }
    }
    .vocabulary-profile{
      &#taxonomy-term{
        &-2 {
          h2 {
            a{
              color:$text-color-purple;
              text-decoration: none;
            }
          }
        }
        &-1 {
          h2 {
            a{
              color:$text-color-red;
              text-decoration: none;
            }
          }
        }
        &-5 {
          h2 {
            a{
              color:$text-color-turquoise;
              text-decoration: none;
            }
          }
        }
        &-6 {
          h2 {
            a{
              color:$text-color-orange;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  /******     Themes Detail    ******/

  .content-themes-detail{
    flex-direction: column;
    .left-column,
    .right-column{
      height:auto;
      flex:0 0 100%;
      max-width: 100%;
      overflow: initial;
      padding:0;
    }
    .left-column{
      h1{
        .title-custom-number,
        .title-custom-text{
          color:$text-color-dark-grey;
        }
      }
      .content-profile{
        color:$text-color-purple;
      }
      .content-profile,
      .back-link{
        margin:0;
      }
      .text-profifle{
        &.employer{
          color:$text-color-purple;
        }
        &.worker{
          color:$text-color-red;
        }
        &.hr-manager{
          color:$text-color-turquoise;
        }
        &.osh-professional{
          color:$text-color-orange;
        }
      }
    }
  }

  /******     Good Practices    ******/

  .view-good-practices{
    .views-view-grid{
      .views-col{
        flex: 0 0 100%;
        max-width: 100%;
        border-top:1px solid $text-color-grey-2;
        min-height:0;
        &.mouse-enter{
          .content-share-more{
            display:none;
          }
        }
      }
    }
    .views-field{
      &-field-image-step,
      &-title{
        display:inline-block;
        width:auto;
        vertical-align: baseline;
      }
      &-field-image-step {
        img{
          margin:0;
        }
      }
    }
  }


  /******     Good Practices Detail    ******/

  .node--type-good-practices{
    .container{
      flex-direction: column;
      margin:0;
    }
    .left-column,
    .right-column{
      flex:0 0 100%;
      max-width: 100%;
      margin:0;
      min-height: 0;
    }
  }

  /******     Quiz    ******/

  .quiz-container {
    flex-direction: column;
    display:block;
    .left-column-quiz,
    .right-column-quiz {
      width: 100%;
      flex: 0 0 1000%;
      max-width: 100%;
      height: auto;
    }
    h1{
      color:$text-color-dark-grey;
      margin: 1rem 0;
    }
    .right-column-quiz{
      padding: 0 1.125rem;
      .quiz-start-link{
        color:$text-color-dark-grey;
      }
    }
    .answering-form{
      .quiz-question-multichoice ,
      .quiz-question-truefalse{
        .field--type-text-long{
          color:$text-color-dark-grey;
        }
      }
      #edit-navigation{
        #edit-navigation-submit{
          color:$text-color-dark-grey;
        }
      }
    }
  }

  /******     Glossary    ******/

  .view-glossary {
    .views-field-name{
      a{
        text-decoration: none;
      }
    }
  }
  .view-search-term-content {
    .views-exposed-form{
      .form-type-textfield{
        margin:0 auto;
        padding:0;
      }
    }
  }
  .page-view-search-term-content,
  .page-view-glossary{
    .searchGlossary,
    .filterGlossary{
      &.selected {
        a{
          color:$text-color-green;
        }
        &:after{
          display:none;
        }
      }
    }
    .glossary-index-custom{
      span{
        color:$text-color-green;
      }
    }
  }

  /******     Attachment     ******/

  .attachment{
    .views-summary{
      a{
        &.is-active{
          color:$text-color-green;
        }
      }
    }
  }

  /******     Useful Links     ******/

  .page-view-useful-links ,
  .page-vocabulary-categories-useful-links {
    .content-filters{
      margin:0;
      padding:0;
    }
    .block-system-main-block{
      .views-element-container{
        .views-element-container ,
        .content-all-button {
          ul{
            li{
              a{
                &.active{
                  border-color:$text-color-green;
                  color:$text-color-green;
                  background-color:$bg-color-white;
                }
              }
            }
          }
        }
      }
    }
  }
  .view-useful-links ,
  .view-taxonomy-term {
    .views-field-field-link{
      .field-content{
        a{
          color:$text-color-dark-grey;
        }
      }
    }
  }
}

