.view-did-you-know{
  margin-top:40px;

  .views-view-grid{
    .views-col {
      float: left;
      border: 1px solid $text-color-grey-5;
      min-height: 355px;
      margin-bottom: 20px;
      margin-right: 19px;
      max-width: calc(33.333333% - 19px);
      padding:0;
      height: 393px;
    }
    .views-field-field{
      &-image-step{
        overflow: hidden;
        img{
          width:100%;
        }
      }
      &-text{
        color: $text-color-dark-grey-3;
        line-height: 1.6875rem;
        margin: 1em;
        font-size: 0.9375rem;
        font-weight: bold;
        .field-content{
          height:189px;
        }
      }
    }
    .buttonViewSource{
      text-align:right;
    }
    .viewSource{
      background: url(/sites/allages/themes/custom/allages_theme/images/i-_source.png) no-repeat scroll 0.75rem center;
      border: 1px solid $text-color-blue;
      color: $text-color-blue;
      font-weight: bold;
      padding: 0.75rem 1rem 0.75rem 3rem;
      text-decoration: none;
    }
  }


  .pop-up-content{
    display:none;
    position:fixed;
    z-index: 9999;
    left:50%;
    margin-top:auto;
    margin-bottom:auto;
    transform:translateX(-50%);
    width:34.5rem;
    background-color:$bg-color-white;
    color:$text-color-black;

    .pop-up-title{
      background: url(/sites/allages/themes/custom/allages_theme/images/i-_source.png) no-repeat scroll 0 center;
      color: $text-color-blue;
      display: block;
      font-size: 1.1rem;
      margin: 1rem 2.75rem 0rem 1rem;
      padding: 0.5rem 2.75rem;
    }
    .pop-up-close{
      display:inline-flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      width:46px;
      height:46px;
      color:$text-color-white;
      background-color: $bg-color-green;
      font-weight:bold;
      font-size:1.75rem;
      text-shadow:none;
      opacity:1;
      cursor:pointer;
      position: absolute;
      top: 0;
      right: 0;
    }
    p{
      padding:1rem;
      color:$text-color-dark-grey-2;
    }
  }
}
