.message-custom-visitor{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:100;
  background-color: $bg-color-white;
  display:flex;
  flex-direction: row;
  padding: 1rem 5rem 1rem 1rem;
  width: 100%;
  height: auto;
  border-radius: 0;
  text-align: left;
  color: $text-color-dark-grey-2;
  font-size: 0.875rem;
  line-height: 20px;
  max-width: 50%;
  z-index:9999999;
  .message{
    &-ico{
      display:block;
      width:30px;
      height:30px;
      background-image: url(/sites/allages/themes/custom/allages_theme/images/info-ico.png);
      background-repeat: no-repeat;
      background-position: center;
      margin-right:1rem;
    }
    &-text{
      max-width: calc(100% - 3rem);
    }
  }
  .close{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    color: $text-color-white;
    background-color: $bg-color-green;
    font-weight: bold;
    font-size: 1.75rem;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    cursor:pointer;
  }
}
