.node--type-good-practices{
  .container{
    margin-top:2.5rem;
    display:flex;
    flex-direction:row;
  }
  .left-column{
    background-color: $bg-color-grey-light-3 ;
    margin-bottom: 1.25rem;
    padding: 1.5rem;
    min-height: 380px;
    margin-right: 2.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    max-width: 27.5%;
    flex:0 0 27.5;
    h2{
      order:2;
      color: $text-color-blue;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 0.5rem 0 1.5rem;
      text-align: center;
    }
    .field--type-entity-reference{
      order:1;
      img{}
    }
  }
  .right-column{
    width:100%;
    max-width: calc(72.5% - 2.5rem);
    flex:0 0 72.5;
  }
}
