.view-useful-links,
.view-taxonomy-term{
  max-width: 1204px;
  margin: 0 auto;
  &>.row{
    margin:0;
  }
  h3{
    border-bottom: medium solid;
    clear: both;
    color: $text-color-blue;
    margin: 1.75rem 0;
    padding: 1.125rem 0;
    font-size: 1.125rem;
    line-height: 1.5rem;
    width:100%;
    font-weight:bold;
  }
  .views-field-field-link{
    display:block;
    width:100%;
    height:100%;
    .field-content{
      display:block;
      width:100%;
      height:100%;
      padding-right: 0.75rem;
      a{
        background: $bg-color-green url(/sites/allages/themes/custom/allages_theme/images/i-_arrow-right-white.png) no-repeat scroll 95% 88%;
        color: $text-color-white;
        float: left;
        font-size: 0.875rem;
        font-weight: bold;
        height: 120px;
        padding: 0.875rem 1.25rem 1.125rem 0.875rem;
        text-decoration: none;
        display:block;
        width:100%;
        margin-bottom:0.875rem;
      }
    }
  }
  .views-col{
    padding:0;
  }
}
