


/* D9 - Variables NCW */


/*Font Family*/

@font-face {
  font-family: 'Noto Sans', sans-serif;
}


/* Font colours */

$text-color-blue: #003399;
$text-color-green: #98b400;
$text-color-white: #FFF;
$text-color-grey: #e8ebf0;
$text-color-grey-light: #f9f9fa;
$text-color-grey-light-2: #c9c9c9;
$text-color-grey-light-3: #ececec;
$text-color-grey-light-4: #b1b3b4;
$text-color-grey-light-5: #dcdcdc;
$text-color-grey-light-6: #ededed;
$text-color-grey-light-7: #e2e2e2;
$text-color-grey-2: #888888;
$text-color-grey-3: #f7f5fc;
$text-color-grey-4: #8e8e8e;
$text-color-grey-5: #ccc;
$text-color-grey-6: #3b3b3b;
$text-color-dark-grey:#555555;
$text-color-dark-grey-2: #333;
$text-color-dark-grey-3:#585858;
$text-color-black: #000;
$text-color-grey-blue:#8a9cc0;
$text-color-grey-blue-2:#e8ecf3;
$text-color-grey-blue-3:#e9eff3;
$text-color-grey-blue-4: #7f99c2;
$text-color-grey-blue-5: #ccd7eb;
$text-color-grey-blue-6: #b0bfd8;
$text-color-blue-hover: #133b80;
$text-color-blue-2: #2d559a;
$text-color-blue-3: #336699;
$text-color-blue-4: #4d72a6;
$text-color-blue-5: #003386;
$text-color-grey-warm:#f7f7f7;
$text-color-green-2:#acc700;
$text-color-grey-4:#dde2ed;
$text-color-dark-green:#080;
$text-color-red: #E74C3C;
$text-color-turquoise: #19BC9C;
$text-color-orange: #F39C13;
$text-color-purple: #8E44AD;
$text-color-violet: #666699;
$text-color-violet-hover: #6666ff;
$text-color-red-2: #c00;

/* background colours */

$bg-color-blue: #003399;
$bg-color-green: #98b400;
$bg-color-white: #fff;
$bg-color-grey: #e8ebf0;
$bg-color-grey-light: #f9f9fa;
$bg-color-grey-light-2: #c9c9c9;
$bg-color-grey-light-3: #ececec;
$bg-color-grey-light-4: #b1b3b4;
$bg-color-grey-light-5: #dcdcdc;
$bg-color-grey-light-6: #ededed;
$bg-color-grey-light-7: #e2e2e2;
$bg-color-grey-2: #888888;
$bg-color-grey-3: #f7f5fc;
$bg-color-grey-4: #8e8e8e;
$bg-color-grey-5: #ccc;
$bg-color-grey-6: #3b3b3b;
$bg-color-grey-7: #eee;
$bg-color-dark-grey:#555555;
$bg-color-dark-grey-2: #333;
$bg-color-dark-grey-3:#585858;
$bg-color-black: #000;
$bg-color-grey-blue:#8a9cc0;
$bg-color-grey-blue-2:#e8ecf3;
$bg-color-grey-blue-3:#e9eff3;
$bg-color-grey-blue-4: #7f99c2;
$bg-color-grey-blue-5: #ccd7eb;
$bg-color-grey-blue-6: #b0bfd8;
$bg-color-blue-hover: #133b80;
$bg-color-blue-2: #2d559a;
$bg-color-blue-3: #336699;
$bg-color-blue-4: #4d72a6;
$bg-color-blue-5: #003386;
$bg-color-grey-warm:#f7f7f7;
$bg-color-green-2:#acc700;
$bg-color-grey-4:#dde2ed;
$bg-color-dark-green:#080;
$bg-color-red: #E74C3C;
$bg-color-turquoise: #19BC9C;
$bg-color-orange: #F39C13;
$bg-color-purple: #8E44AD;
$bg-color-violet: #666699;
$bg-color-violet-hover: #6666ff;
$bg-color-red-2: #c00;



/* END - D9 - Variables NCW */
