@media only screen and (max-width: 1023px){

  /******     Header    ******/
  .header{
    .navbar-toggler{
      width: 48px;
      height: 46px;
      padding: 0.625rem;
      margin-left:auto;
      cursor: pointer;
      display: block;
      border-radius:0;
      &.expand-custom{
        color:$text-color-blue;
        text-align: center;
        font-size: 1.125rem;
        span{
          display:none;
        }
        &:after{
          content:'X';
        }
      }
      span{
        display: block;
        background: $text-color-blue-5;
        height: 3px;
        margin-top: 3px;
        &.sr-only{
          display:none;
        }
      }
    }
    .content-header{
      position:relative;
    }
    #navbar{
      float:none;
    }
    .font-size-print{
      display:none;
    }
    .navbar{
      position: static;
      padding:0;
    }
    .navbar-collapse{
      width: 100vw;
      flex: 0 0 100vw;
      top: 100%;
      left: 0;
      position: absolute;
      z-index: 2000;
      background-color: white;
    }
    .push-right{
      margin-right:0;
    }
    .nav{
      &-item{
        margin:0;
        border:none;
        &.active{
          border:none;
          .nav-link{
            color:$text-color-blue;
          }
        }
        &:first-of-type {
          .nav-link{
            width:100%;
            color:$text-color-blue;
            background: none;
          }
        }
        &:last-of-type {
          &:not(.show){
            .nav-link{
              border-bottom: 1px solid $text-color-blue;
            }
          }
        }
        &:hover{
          border-color:$text-color-white;
        }
      }
      &-link{
        color:$text-color-blue;
        border-top: 1px solid $text-color-blue;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        padding:1rem 2.25rem;
      }
    }
    .dropdown{
      &-menu{
        background-color: $bg-color-white;
        margin-left: 0;
      }
      &-item{
        &:last-of-type{
          a{
            border-bottom: 1px solid $text-color-blue;
          }
        }
        a{
          border-top: 1px solid $text-color-blue;
          color:$text-color-blue;
          font-size: 1rem;
          font-weight: 400;
          display: block;
          padding: 1rem 10%;
          opacity:0.75;
          text-transform: uppercase;
        }
      }
      &-toggle{
        display:flex;
        &:after{
          content:'+';
          display:inline-block;
          border:none;
          margin:0;
          padding:0;
          margin-left:auto;
        }
      }
      &.show{
        .dropdown-toggle{
          &:after{
            content:'-';
          }
        }
      }
    }
   .dropdown-item{
     &,
     &.active {
       a{
         color:$text-color-blue;
         font-size: 1rem;
         font-weight: 400;
         display: block;
         padding: 1rem 10%;
       }
     }
   }
  }
  /******     Frontpage    ******/

  .page-view-frontpage{
    #langheader {
      border:none;
      .content-lang-header{
        width: auto;
        flex-direction: column;
      }
      .MapList{
        display:none;
      }
      .lan-sel{
        background: #ececec url(/sites/allages/themes/custom/allages_theme/images/backgroundSelectCountryMobile.png) no-repeat scroll center bottom;
        font-size: 1.625rem ;
        font-style: normal;
        padding: 1.25rem 0 2.375rem;
        text-align: center ;
        width: 100%;
      }
    }
    #mapImg{
      display:none;
    }
    #langselect{
      .containerC{
        display:block;
      }
    }
  }
  .page-view-frontpage,
  .language-profile-selector {
    .containerC{
      #listText{
        margin-top:0;
        display:block!important;
        >ul{
          columns:1;
          >li{
            border-bottom: 1px solid $text-color-grey-light-7;
            font-size: 1.5rem ;
            overflow: hidden ;
            padding: 0.25rem 0 0.25rem 0.75rem ;
            line-height: 3.25rem;
            ul{
              float: right ;
              position: relative ;
              margin: 0 ;
              background-color: transparent;
              display:block;
              &.languagecount-custom-1{
                display:none;
              }
              li{
                border-bottom: 0 none ;
                font-size: 1.5rem ;
                margin-right: 1px ;
                padding: 0.125rem ;
                + li{
                  border-left: 1px solid $text-color-black;
                }
                &:not(:last-child) {
                  a{
                    background-image: none;
                    background-color: transparent;
                  }
                }
                a{
                  background-color: transparent;
                  color: $text-color-black;
                  font-size: 1.5rem ;
                  padding: 0 0.5rem ;
                }
              }
            }
          }
        }
      }
    }
  }

  /******     Language-Profile Selector    ******/

  #containerMaxLengthTools{
    text-align: left;
    padding: 0 0.625rem;
    background-color: $bg-color-grey-light-3;
    #containerTools {
      .tabs{
        padding:0;
        margin:0;
        display:flex;
        justify-content: center;
        li{
          width:100%;
          flex: 0 0 46%;
          max-width: 46%;
          margin:0 1%;
        }
      }
    }
  }

  /******     Banner header     ******/

  .node--type-select-your-profile,
  .page-view-frontpage {
    #moreInfoDiv{
      width:100%;
      top:0;
    }
  }

  /******     Good Practices     ******/

  .view-good-practices{
    .views-view-grid{
      .views-col{
        max-width: 100%;
      }
    }
  }

  /******     Good Practices Detail    ******/

  .node--type-good-practices{
    .container {
      flex-direction: column;
      .left-column,
      .right-column{
        max-width:100%;
        flex: 0 0 100%;
      }
      .left-column{
        min-height: 0;
      }
    }
  }

  /******     Select Profile     ******/

  .node--type-select-your-profile{
    .half{
      width:100%;
      float:none;
      .whiteBg{
        min-height: 0px;
        .img-employer,
        .img-worker,
        .img-manager,
        .img-professional{
          display:none;
        }
      }
      & + .half{
        border-top:1px solid $text-color-grey-2;
      }
    }
    .BarStartTour{
      .imgStart{
        margin-left:0;
      }
      .startText{
        margin-left:126px;
      }
    }
  }

  /******     Breadcrumb     ******/
  .breadcrumb{
    display:none;
  }

  /******     Select Profile     ******/
  .view-themes{
    .view-custom-background{
      padding:0;
      background-position: top left;
      background-size: cover;
    }
    .view-header {
      h1{
        text-align:center;
        font-size:2.25rem;
      }
    }
    .item-list{
      > ul{
        flex-direction: column;
        >li{
          margin: 0 auto ;
          width: 95% ;
          & + li{
            margin: 0.625rem auto ;
          }
        }
      }
    }
    .footer-view{
      .containerWidth{
        flex-direction:column;
      }
      .didYouKnow,
      .glossary,
      .aboutUs{
        max-width:100%;
        flex: 0 0 100%;
        padding: 3rem 0 ;
        margin:0 1.25rem;
        p{
          padding: 0 0 0 8rem ;
          font-size: 1.125rem ;
          line-height: 1.25rem ;
        }
      }
      .didYouKnow{
        background-image: url(/sites/allages/themes/custom/allages_theme/images/i-_did-you-know-blueMobile.png), url(/sites/allages/themes/custom/allages_theme/images/i-_arrow-right-dark-blueMobile.png);
        background-position: 1.3rem center,90% 50%;
        border-bottom: 1px solid $text-color-grey-blue-6;
      }
      .glossary {
        background-image: url(/sites/allages/themes/custom/allages_theme/images/i-_glossary-blueMobile.png), url(/sites/allages/themes/custom/allages_theme/images/i-_arrow-right-dark-blueMobile.png);
        background-position: 0 center,90% 50%;
        border-bottom: 1px solid $text-color-grey-blue-6;
      }
      .aboutUs {
        background-image: url(/sites/allages/themes/custom/allages_theme/images/i-_about-us-blueMobile.png), url(/sites/allages/themes/custom/allages_theme/images/i-_arrow-right-dark-blueMobile.png);
        background-position: 0.6rem center,90% 50% ;
      }
    }
  }

  /******     Themes detail     ******/

  .content-themes-detail{
    display:block;
    .left-column,
    .right-column {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .left-column{
      height: 645px ;
      .back-link,
      .content-profile{
        margin:1rem;
      }
      .back-link{
        float:left;
      }
      .content-profile{
        float:right;
      }
      h1{
        width:100%;
        .title-custom-number,
        .title-custom-text{
          text-align: center;
        }
      }
    }
    .right-column{
      height:auto;
      .more-info-theme{
        .field--name-field-sections {
          .field__item {
            padding:0.5rem 2rem;
            a{
              font-size:1.25rem;
              padding:0.5rem 2rem 0.5rem 0;
            }
          }
        }
      }
      .more-links-container{
        flex-direction: column;
        .goodPractices,
        .usefulLinks{
          width:100%;
          max-width: 100%;
          flex: 0 0 100%;
        }

        .usefulLinks{
          margin:0;
          border-top:1px solid $text-color-grey-light-7;
        }
      }
    }
  }

  /******     Headings     ******/
  .block-page-title-block{
    padding:0;
    h1{
      &.title{
        font-size: 2.375rem;
        &:first-letter{
          text-transform: uppercase;
        }
      }
    }
    .content{
      width:100%;
    }
  }

  /******     Good practices     ******/

  .view-good-practices {
    .row{
      margin:0;
    }
    >.row{
      padding:0 0.5rem;
    }
    .views-view-grid{
      .views{
        &-col{
          margin:0 0 1.25rem;
        }
      }
    }
  }

  /******     Did you know    ******/

  .quiz-container {
    flex-direction: column;
    display:block;
    .left-column-quiz,
    .right-column-quiz {
      width: 100%;
      flex: 0 0 1000%;
      max-width: 100%;
    }

    .left-column-quiz{
      height: 645px;
    }
    .right-column-quiz{
      height: auto;
      padding: 0 1.125rem;
    }
  }

  /******     Did you know    ******/

  .view-did-you-know{
    .views-view-grid{
      .views-col{
        max-width: 100%;
      }
      .views-field-field-text{
        .field-content{
          height:199px;
        }
      }
    }
  }

  /******     Glossary   ******/

  .view-glossary{
    .row{
      margin:0;
    }
    >.view-content{
      padding:0 1rem;
    }
  }
  .page-view-glossary ,
  .page-view-search-term-content {
    .containerSmall{
      width:100%;
      flex-wrap: wrap;
    }
    .textGlossary{
      flex: 0 0 100%;
      max-width: 100%;
      border-bottom: 1px solid $text-color-blue;
      text-align: center;
    }
    .searchGlossary,
    .filterGlossary{
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  /******     Search Term   ******/

  .view-search-term-content {
    .views-exposed-form {
      .form{
        &-type-textfield{
          max-width:100%;
          flex:0 0 100%;
          text-align:center;
          display:flex;
          padding-right:0;
        }
        &-control{
          max-width: 65%;
          margin:0 auto;
        }
        &-actions{
          margin: 0.75rem auto 0rem;
          padding:0;
        }
      }
      label{
        max-width: 100%;
      }
    }
  }

  /******    Useful Links   ******/

  .page-view-useful-links,
  .page-vocabulary-categories-useful-links{
    .block-system-main-block{
      .views-element-container{
        .views-element-container,
        .content-all-button{
          display: flex;
          width: 100%;
          padding:0 0.5rem;
          .view-filter-useful-links{
            width:100%;
            .row{
              margin:0;
            }
            .item-list{
              width:100%;
            }
          }
          ul{
            width:100%;
            flex-direction:column;
            margin:0 ;
            li{
             width:100%;
              a{
                padding:0.375rem;
                line-height: 2.625rem;
                margin:0.25rem;
              }
            }
          }
        }
        .content-all-button{
          margin:0 auto;
        }
      }
    }
    .content-filters{
      > div {
        &:first-of-type {
        }
      }
    }
  }
  .view-useful-links,
  .view-taxonomy-term{
    .views-view-grid{
      .row{
        margin:0;
      }
    }
    >.row{
      padding: 0 0.625rem;
      .col{
        padding:0;
      }
    }
    >.view-content{
      flex-direction: column;
    }
    .views-field-field-link{
      .field-content{
        padding-right:0;
      }
    }
  }


.page-vocabulary-categories-useful-links{
  .view-useful-links,
  .view-taxonomy-term{
    padding:0 0.625rem;
    > .row{
      padding:0;
    }
  }
}

  /******     Language-Profile Selector     ******/

  #profileDiv {
    .profile{
      &-content{
        flex-direction: column;
      }
      &-item{
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
  }

  /******     About This e-Guide    ******/

  .page-node-70{
    .contentText{
      width:100%;
    }
    .informationAboutUs{
      padding: 2rem 0.625rem;
      img{
        float:none;
      }
      p{
        margin:0;
      }
    }
  }


  /******     Search Results    ******/
  .path-search{
    .block-page-title-block{
      background-image: none;
    }
    .block-system-main-block{
      .search-form{
        .form{
          &-group{
            flex-direction: column;
          }
        }
      }
    }
  }

  /******     Tour     ******/

  .content-tour {
    .tour {
      &-01,
      &-02,
      &-03,
      &-04,
      &-05,
      &-06,
      &-07,
      &-08,
      &-09 {
        &.active {
          animation: none;
          flex-direction: column;
          width:250px;
        }
      }
    }

    .img-tour{
      width:100%;
      height:250px;
      flex:auto;
    }
    .tour-text{
      width:100%;
      min-height:0;
      padding:1rem;
    }
    .skip-tour a{
      display:none;
    }
    .next-tour{
      right:50%;
      transform: translateX(50%);
      bottom:10%;
    }
  }

  /******     Footer     ******/

  .site-footer{
    &__bottom{
      padding: 0.325rem 0;
      .nav{
        justify-content: center;
        &-item{
          &:first-of-type{
            flex:0 0 100%;
            text-align: center;
          }
        }
      }
    }
    .region-footer-end{
      background-position: bottom center;
      padding-bottom:2rem;
      margin-bottom:0.5rem;
    }
  }
}


