.header{
  padding-top: 1rem;
  .logos{
    float:left;
    .row{
      margin:0;
    }
    .field--type-text-with-summary{
      span,
      a{
        display:inline-block;
        vertical-align: middle;

        &:nth-child(2),
        &:nth-child(3){
          margin-left:0.25rem;
        }
        &:nth-child(1){
          img{
            width:105px;
            height:36px;
          }
        }
        &:nth-child(2){
          img{
            width:48px;
            height:31px;
          }
        }
        &:nth-child(3){
          img{
            width:47px;
            height:44px;
          }
        }
      }
    }
  }
  #navbar{
    float:left;
  }
  .push-right{
    float:right;
    display:flex;
    flex-direction:row;
    margin:0;
    align-items: baseline;
    margin-right: 56px;
  }
  .nav{
    &-item{
      background: none;
      margin-left: 0.625rem;
      margin-right: 0.625rem;
      border:2px solid $text-color-white;
      &:hover{
        border:2px solid $text-color-blue;
        .nav-link{
          color:$text-color-blue;
        }
      }
      &:first-of-type{
        &:hover{
          border:2px solid $text-color-white;
        }
        .nav-link{
          text-indent: 0px;
          color:transparent;
          width:41px;
          background-image: url(/sites/allages/themes/custom/allages_theme/images/homeIco.png);
          background-repeat: no-repeat;
          background-position: center;
        }
        &.active{
          border-color:$text-color-white;
          .nav-link{
            color:transparent;
          }
        }
      }
      &.active{
        border-color:$text-color-green;
        .nav-link{
          color:$text-color-green;
        }
      }
    }
    &-link{
      padding: 0.375rem;
      font-weight: bold;
      color:$text-color-dark-grey;
      font-size:0.75rem;
      text-decoration: none;
      cursor:pointer;
    }
  }
  .dropdown{
    &-toggle{
      &:after{
        display:none;
      }
    }
    &-menu{
      padding:0rem;
      background: none;
      background-color: $bg-color-grey-blue;
      border-radius: 0px;
      border:none;
      margin-left: -3px;
      width:12rem;
    }
    &-item{
      &,
      &.active{
        padding:0;
        background-color:transparent;
        &:hover{
          background: url(/sites/allages/themes/custom/allages_theme/images/menu-child-hover.png) no-repeat 90% $bg-color-blue-hover;
          border-radius: 0px;
        }
        a{
          color:$text-color-white;
          font-size:0.75rem;
          padding: 0.75rem 1.125rem;
          font-weight: bold;
          display:block;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
  .search-custom-block{
    width:calc(100% - 95px);
    flex:1;
    .row{
      margin:0rem;
    }
    .form-type-search{
      width:calc(100% - 22px);
    }
    .form-search{
      border: 1px solid $text-color-white;
      font-size: 0.75rem;
      font-weight: normal;
      border-radius:0;
      padding: 0rem 1.75rem 0rem 0rem;
      border-bottom: 1px solid $text-color-blue-3;
      height:auto;
    }
    .form-actions {
      padding:0;
      .form-submit{
        height: 20px;
        width: 20px;
        background-image: url(/sites/allages/themes/custom/allages_theme/images/i-_search.png);
        background-repeat: no-repeat;
        background-color: $bg-color-white;
        padding: 0;
        color: transparent;
        border:none;
      }
    }
  }
  #search-block-form{
    flex-direction: row;
    align-items:baseline;
  }
  .font-size-print{
    margin-left:1.25rem;
    #_biggify,
    #_smallify{
      cursor:pointer;
    }
    .a{
      &_small{
        font-size:0.875rem;
        font-weight:bold;
        color:$text-color-blue;
      }
      &_big{
        font-size:1.125rem;
        font-weight:bold;
        color:$text-color-black;
      }
      &:hover{
        text-decoration: none;
      }
    }
  }
}
