.page-node-1049{
  .block-system.block-system-main-block{
    border: 1px solid $bg-color-grey-5;
    margin: 1rem auto;
    padding: 0 1rem 1rem 1rem;
    background: $text-color-grey-light;
  }
  h2{
    color: $text-color-blue-2;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1rem 0 0;
    padding: 0;
  }
}
