.path-sitemap{
  h2{
    display:none;
  }
  .sitemap-item{
    padding-left: 3rem;
    margin:0;
    .nav{
      display:flex;
      flex-direction: column;
      list-style: none;
      &-item{
        border-bottom: 1px solid $text-color-grey-5;
        font-size: 1.5rem;
        margin: 0.5rem 0;
        padding: 0.275rem 0 1rem;
        &.menu-item--expanded{
          border:none;
          margin:0;
          padding:0;
        }
        span{
          &.nav-link{
            display:none;
          }
        }
        ul{
          padding-left:0;
          list-style: none;
        }
      }
      &-link{
        padding:0;
        color:$text-color-grey-6;
        &:after{
          content:' >';
        }
        &:hover{
          color:$text-color-blue-5;
        }
      }
    }
  }
  .sitemap-item--menu-footer{
    .nav{
      &-item{
        &:first-of-type,
        &:nth-child(2){
          display:none;
        }
      }
      &-link{
        text-transform: lowercase;
        &:first-letter{
          text-transform: uppercase;
        }
      }
    }
  }
}
