.node--type-steps {
  .js-custom-step- {
    &1 {
      background-position: bottom center;
      background-repeat: no-repeat;
      background-image: url(/sites/allages/themes/custom/allages_theme/images/ageingandwork.png);
    }

    &2 {
      background-position: bottom center;
      background-repeat: no-repeat;
      background-image: url(/sites/allages/themes/custom/allages_theme/images/workplace_fit_for_all.png);
    }

    &3 {
      background-position: bottom center;
      background-repeat: no-repeat;
      background-image: url(/sites/allages/themes/custom/allages_theme/images/promoting-health-at-work.png);
    }

    &4 {
      background-position: bottom center;
      background-repeat: no-repeat;
      background-image: url(/sites/allages/themes/custom/allages_theme/images/return-to-work.png);
    }
  }
}


